<!DOCTYPE html>
<html>
<head>
  <title>Nursing Mothers Counsel of Oregon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= stylesheet_link_tag "bootstrap-responsive.css" %>
 
  <style>
    @media (max-width: 480px) {}
    @media (max-width: 767px) {}
    @media (min-width: 768px) and (max-width: 979px) {}
    @media (min-width: 1200px) {}
  </style>

  <meta content="authenticity_token" name="csrf-param" />
  <meta content="km65WQ5Xka4NaJWghr6AAlYrHHd/NCffYLqVQTab/oI=" name="csrf-token" />
</head>
<body>
	<div class="container-fluid">
	<%= yield %>
	</div>
</body>
</html>